.aboutMe {
    text-align: center;

}

.background {
    max-height: 250px;
    overflow: hidden;
}

.myInfo {
    position: relative;
    padding: 15px 0;
}
.bold{
    font-weight: 700;
}
.findAJob {
    margin-right: 15px;
    font-weight: 700;
}
.flex{
    display: flex;
    align-items: center;
}
.avatar {
    position: absolute;
    background-color: #e2e7ff;
    top: -75px;
    left: calc(100% / 2 - 75px);
    width: 150px !important;
    height: 150px;
    border: 3px solid #3f51b5;
    border-radius: 50%;
    object-fit: cover;
}
.upload{
    position: absolute;
    top: 80px;
    width: 100%;
    background-color: aliceblue;
}

.needJobPic{
    width: 30px !important;
    height: 30px;
    border-radius: 50%;
    object-fit: cover;
}
.description {
    margin-top: 95px;
    text-align: center;
    position: relative;
}

.description h3 {
    display: inline-block;
    margin-bottom: 10px;
}

.description p {
    margin: 0;
}

.stuff {
    margin: 10px 0;
    padding: 10px;
    background-color: #e2e7ff;
    display: flex;
    justify-content: space-around;
    text-align: left;
    font-size: 14px;
    position: relative;
}
.status{
    margin: 10px;

}
.statusInput{
    border: 1px solid #999999;
    border-radius: 4px;
    height: 40px;
    max-width: 260px;
    width: 100%;
}

.itsYou{
    font-size: 12px;
    position: absolute;
    top: 0;
    right: calc(50% - 100px);
    transform: translate(50%,-50%);
    color: #3f51b5;
    display: inline-block;
    padding: 5px 15px;
    border-radius: 4px;
    background-color:#e2e7ff;
}
.editButton{
    text-align: left;
    margin-left: 15px;
}
.stuffBtn{
position: absolute;
    left: 15px;
}
.stuffBtnDown{
    position: absolute;
    bottom: 15px;
    right: 15px;
}
.checkbox {
    padding: 0px;
    height: 10px;
}
.input {
    padding: 10px 40px;
    border: none;
}