.paginator{
    display: flex;
    max-width: 600px;
    margin: 0 auto;
    margin-top: 10px;
    align-items: center;
    justify-content: space-between;
}
.pagesList {
    padding: 20px;
    display: flex;
    justify-content: center;
    background-color: #e2e7ff;
}

span:hover{
    cursor: pointer;

}
.paginationBtn{
    height: 30px;
    font-size: 12px;
}
.nextBtn,
.prevBtn{
    position: relative;
}

.nextBtn::before{
    content: '\f054';
    font-family: 'icomoon' !important;
    position: absolute;
    top: 5px;
    left: 27px;
}
.prevBtn::before{
    content: '\f053';
    font-family: 'icomoon' !important;
    position: absolute;
    top: 5px;
    left: 27px;
}
.selectedPage {
    font-weight: 700;
    color: #3f51b5;
}
