.item {
    margin: 10px;
    flex-grow: 1;
}

.item img {
    width: 40px;
    height: 40px;
    margin-right: 10px;
    border-radius: 50%;
    float: left;
    object-fit: cover;
}

.text {
    font-size: 14px;
    line-height: 18px;
    display: block;
    min-height: 60px;
}

.likes {
    margin: 0 30px;
    font-size: 12px;
    position: relative;
}
.likes::before {
    content: "\f004";
    font-family: 'icomoon';
    font-size: 14px;
    color: #cc0b0b;
    position: absolute;
    left: -20px;
    top: -1px;
}
.postWrapper{
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 2px solid #f1f1f1;
    margin-bottom: 15px;
}
.postWrapper:hover{
    transition: all .5s;
}
.postWrapper:hover .deletePost{
    display: block;
}
.deletePost{
    display: none;
     margin: 10px;
     color: #4c8d21;
     border: 1px solid #4c8d21;
     background-color: #e4ffd1;
 }

.deletePost:hover{
    transition: all .5s;
    color: #fff;
    border: 1px solid #ac0000;
    background-color: #cc0b0b;
}